.center-in-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-table;
}
.center-ver {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-table;
}
.center-hor {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-table;
}
html,
body {
  background: #222;
  color: #fff;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Lato;
  box-sizing: border-box;
}
* {
  transition: ease 1s;
}
.controllers {
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.controllers .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-table;
  font-family: "Lato Heavy";
  font-size: 18px;
  top: 50px;
  left: 80px;
  box-shadow: 0 0.25em 0 0 black,
            0 0.5em 0 0 black;
}
.controllers .nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-table;
  top: 50px;
}
.controllers .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.controllers .nav ul li {
  float: left;
  margin-left: 80px;
  opacity: 0.7;
  cursor: pointer;
}
.controllers .nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
.controllers .nav ul li:first-child {
  margin-left: 0px;
}
.controllers .nav ul li:hover {
  opacity: 1;
}
.controllers button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-table;
  top: 50px;
  right: 80px;
  width: auto;
  padding: 10px 20px;
  background: #cb89bc;
  border: none;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
}
.slide[id] {
  position: relative;
  float: left;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slide[id]:target {
  background: #333;
}
.slide[id] .promo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-table;
  width: 60%;
  text-align: center;
}
.slide[id] .promo h1 {
  font-family: "Lato Heavy";
  font-size: 68px;
  margin-bottom: 20px;
}
.slide[id] .promo p {
  line-height: 24px;
  font-size: 18px;
  font-family: "Lato Light";
  margin-bottom: 40px;
}
.slide[id] .promo button {
  top: 50px;
  right: 80px;
  width: auto;
  padding: 20px 40px;
  background: #cb89bc;
  border: none;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
}
.slide[id] .contact {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-table;
  width: 60%;
  text-align: center;
  box-sizing: border-box;
}
.slide[id] .contact h1 {
  font-family: "Lato Heavy";
  font-size: 68px;
  margin-bottom: 20px;
}
.slide[id] .contact p {
  line-height: 24px;
  font-size: 18px;
  font-family: "Lato Light";
  margin-bottom: 80px;
}
.slide[id] .contact form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.slide[id] .contact form button:hover .slide[n='1'] {
  transition: 1s;
  left: 0;
}
.slide[id] .contact form input {
  width: auto;
  padding: 20px;
  margin-bottom: 40px;
  font-size: 16px;
  color: #333;
  border-radius: 5px;
  outline: hidden;
  border: none;
  text-align: center;
}
.slide[id] .contact form input:focus {
  outline: hidden;
}
.slide[id] .contact form input:nth-child(even) {
  margin-left: 20px;
}
.slide[id] .contact form button {
  width: auto;
  padding: 20px 40px;
  background: #cb89bc;
  border: none;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  margin-left: 20px;
}
.slide[id] .content {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-table;
}
.slide[id] .content .section {
  position: relative;
  float: left;
}
.slide[id] .content .section h1 {
  font-family: "Lato Heavy";
  font-size: 68px;
  margin-bottom: 20px;
}
.slide[id] .content .section:nth-child(1) p {
  line-height: 24px;
  font-size: 18px;
  font-family: "Lato Light";
  margin-bottom: 40px;
}
.slide[id] .content .section p.typo {
  line-height: 20px;
  font-size: 16px;
  font-family: "Lato Light";
  margin-bottom: 40px;
  column-count: 2;
  text-align: justify;
  column-gap: 50px;
}
.slide[id] .content .section p.typo .title {
  width: 100%;
  display: inline-block;
  font-family: "Lato Medium";
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.slide[n='1'] {
  background: #491399;
}
.slide[n='2'] {
  background: #42995a;
}
.slide[n='3'] {
  color: #fff;
  background: #5060ff;
}
